body {
    background-image: url(./slike/logoopacity.png);
    background-repeat: repeat;
    background-color: rgb(255, 246, 234);
}
label {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.change {
    display:none;
}
.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.cool-link:hover {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}